@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div style="height: 1500px; background: linear-gradient(to bottom, #f5f5f5, #ddd); padding: 20px;">
    <h1>Тестовый контент</h1>
    <p>типо че то написаноо</p>
    <p>длиннаяяя страничка</p>
    <p>ляляляля я просто для проверки</p>
</div>
