<style>
    .svg-container {
        max-width: 1000px;
        margin: 0 auto;
        position: relative;
        width: 100%;
    }

    .main-image {
        width: 100%;
        display: block;
    }

    svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }

    .hotspot polygon {
        pointer-events: auto;
        fill: rgba(212, 175, 55, 0.4); 
        cursor: pointer;
        transition: fill 0.2s;
    }



    .hotspot .exhibit-group {
        transition: opacity 0.3s ease, transform 0.2s ease;
        opacity: 0;
        transform: scale(1);
    }

    .hotspot:hover .exhibit-group {
        opacity: 1;
        transform: scale(1.01); 
    }

/*     image {
            outline: 2px solid lime;
        } */
</style>

<div class="content-container">
    <div class="svg-container">
        <img src="/images/TestHalls/TestHallEgupt.png" class="main-image" />
        <svg viewBox="0 0 1536 1024">

            <g class="hotspot">
                <polygon points="185,575 318,812 141,813 141,703 176,687 182,635 188,625 214,612 218,608 218,582 204,567 199,544 196,543 194,512 198,510 190,401 205,385 242,378 282,381 314,393 335,414 298,512 301,517 300,533 290,544 285,542 275,566 275,592 288,611 318,626 321,636 321,685 345,685 345,786 317,812" onclick="location.href='/'" />
                <g class="exhibit-group" style="transform-origin: 268.5px 594px;">
                    <image href="/images/TestHalls/TestHallEgupt_Exhibit1.png" x="138" y="373" width="211" height="442" />
                </g>
            </g>

       
            <g class="hotspot">
                <polygon points="653,839 671,788 671,764 669,764 667,724 667,675 667,589 666,584 669,545 668,518 664,494 655,470 658,465 662,454 657,445 665,424 672,394 672,385 666,376 666,352 665,345 654,306 646,297 633,287 612,286 598,287 588,292 581,298 559,241 551,240 539,234 528,231 523,229 519,225 514,223 508,225 505,228 490,232 476,240 468,241 439,315 451,323 455,327 456,332 445,333 432,339 425,346 420,356 419,373 421,389 419,406 419,424 419,443 415,459 418,488 422,534 412,562 414,567 433,581 441,581 445,579 449,601 453,625 454,639 451,675 456,699 460,727 459,765 452,764 402,816 402,839 652,839" onclick="location.href='/exhibit2'" />
                <g class="exhibit-group" style="transform-origin: 537px 532.5px;">
                    <image href="/images/TestHalls/TestHallEgupt_Exhibit2.png" x="401" y="223" width="272" height="619" />
                </g>
            </g>

        
            <g class="hotspot">
                <polygon points="1009,838 1007,785 969,725 937,724 937,717 936,710 936,698 944,644 948,610 944,578 942,560 943,532 956,481 966,482 995,463 985,433 987,396 993,337 990,319 992,290 991,271 993,245 991,228 984,214 973,205 961,200 952,198 968,182 936,92 929,90 914,81 899,76 899,72 893,67 886,66 881,71 880,76 864,81 849,90 842,92 808,182 825,199 806,203 796,209 787,217 783,228 781,238 782,259 784,263 783,283 783,323 780,340 781,363 789,429 778,467 800,485 812,485 815,483 822,528 823,564 819,593 821,623 831,673 828,693 829,707 821,725 780,726 770,786 770,838 1009,838" onclick="location.href='/exhibit3'" />
                <g class="exhibit-group" style="transform-origin: 887.5px 454.5px;">
                    <image href="/images/TestHalls/TestHallEgupt_Exhibit3.png" x="767" y="66" width="243" height="777" />
                </g>
            </g>

         
            <g class="hotspot">
                <polygon points="288,835 1287,790 1263,769 1261,614 1243,603 1244,588 1239,575 1243,569 1242,562 1237,554 1243,528 1241,507 1237,445 1237,423 1229,408 1217,402 1218,378 1211,345 1209,331 1205,325 1214,315 1219,296 1219,275 1214,261 1202,247 1185,239 1169,238 1154,243 1141,251 1134,260 1129,271 1128,290 1132,307 1137,319 1144,326 1141,329 1139,335 1130,349 1125,375 1124,402 1112,409 1107,418 1105,434 1103,503 1102,521 1111,538 1090,539 1088,783 1122,835 1288,835 1287,791" onclick="location.href='/exhibit4'" />
                <g class="exhibit-group" style="transform-origin:  1187.5px 537.5px;">
                    <image href="/images/TestHalls/TestHallEgupt_Exhibit4.png" x="1087" y="236" width="203" height="603" />
                </g>
            </g>
        </svg>
    </div>
</div>