<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Интерактивный музей</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Project_Turizm_Zal.styles.css" asp-append-version="true" />
</head>
<body>
    @{
        var isLoggedIn = Context.Session.GetString("UserEmail") != null;
        var userName = Context.Session.GetString("UserName") ?? "";
        var userRole = Context.Session.GetString("UserRole") ?? "";
    }
    <header>
        <nav class="light-nav">
            <div class="nav-container-wide">
                
                <div class="nav-container">
                    <a class="nav-brand" asp-controller="Home" asp-action="Index">
                        <img src="/images/headerFooter/logo/logo.png" alt="Лого" class="logo-img">
                    </a>
                    <div class="nav-links">
                        <a class="nav-link-dark" asp-controller="Home" asp-action="Index">Главная</a>
                        <a class="nav-link-dark" href="/Home/Index#halls-section">Залы</a>
                        <a class="nav-link-dark" href="/Home/Index#map-section">Как нас найти</a>
                        <a class="nav-link-dark" asp-controller="Home" asp-action="AboutTeam">О нас</a>
                        <a class="nav-link-dark" asp-controller="Home" asp-action="About">О музее</a>
                    </div>
                    <div class="auth-buttons">
                        @if (isLoggedIn)
                        {
                            @if (userRole == "Admin")
                            {
                                <a class="btn-login" asp-controller="Admin" asp-action="Index">
                                    Админка
                                </a>
                            }

                            <span class="nav-link-dark">
                                @userName
                            </span>

                            <a class="btn-register" asp-controller="Account" asp-action="Logout">
                                Выйти
                            </a>
                        }
                        else
                        {
                            <a class="btn-login" asp-controller="Account" asp-action="Auth">
                                Вход
                            </a>

                            <a class="btn-register"
                               asp-controller="Account"
                               asp-action="Auth"
                               asp-route-tab="Register">
                                Регистрация
                            </a>
                        }
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <footer class="main-footer">
        <div class="footer-container">
            <div class="footer-grid">
                <div class="footer-block">
                    <a href="#" class="footer-logo">
                        <img src="/images/headerFooter/logo/logo.png" alt="Лого" style="height: 50px;">
                    </a>
                    <p class="footer-text">Виртуальный музей — погружение в мир искусства и культуры.</p>
                    <div class="footer-social">
                        <a href="https://vk.com/nacmuzey"><img src="/images/headerFooter/cosialNetworks/vk.png" alt="VK"></a>
                        <a href="https://t.me/s/nacionmuzei"><img src="/images/headerFooter/cosialNetworks/tg.png" alt="Telegram"></a>
               @*          <a href="#"><img src="/images/headerFooter/cosialNetworks/watcap.png" alt="WhatsApp"></a> *@
                        <a href="https://sun9-29.userapi.com/s/v1/ig2/t6GCm4dFSBcdD222vYGtvpk6TymCiJWCHLAuwv3rAWdgtC4G7aIXo0XO1dJ9Fky8IKaCeVwB-c9nBhrnrRuu9vJI.jpg?quality=95&crop=0,180,1320,1980&as=32x48,48x72,72x108,108x162,160x240,240x360,360x540,480x720,540x810,640x960,720x1080,1080x1620,1280x1920,1320x1980&from=bu&cs=640x0"><img src="/images/headerFooter/cosialNetworks/max.png" alt="Max"></a>
                    </div>
                </div>
                <div class="footer-block">
                    <h4>Навигация</h4>
                    <a asp-controller="Home" asp-action="Index">Главная</a>
                    <a href="/Home/Index#halls-section">Залы</a>
                    <a href="/Home/Index#map-section">Как нас найти</a>
                    <a asp-controller="Home" asp-action="About">О музее</a>
                </div>
                <div class="footer-block">
                    <h4>Режим работы</h4>
                    <p>Пт: 10:00 - 18:00</p>
                    <p>Вт-Вс: 10:00 - 19:00</p>
                    <p>Выходной: Понедельник</p>
                </div>
            </div>
            <div class="footer-copyright-line"></div>
            <div class="footer-bottom-row">
                <div class="footer-copyright">© 2026 Все права защищены.</div>
                <div class="footer-credits">Сделано в студии самой лучшей</div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>