<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Project_Turizm_Zal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Project_Turizm_Zal.styles.css" asp-append-version="true" />
    
</head>
<body>
    <header>

        <nav style="background-color: #363636;">
            <div class="container-fluid px-5">
                <div style="display: flex; align-items: center; justify-content: space-between; gap: 30px;">
              
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                        <img src="/images/logo3.png" alt="Лого" style="height: 60px;" class="d-inline-block align-top me-2">
                    </a>

                  @* пока не создала контроллеры и методы, чтоб страницы работали. Работаю пока над видом страницы*@ 
                    <div style="display: flex; gap: 30px;">
                        <a class="nav-link text-white" asp-controller="Home" asp-action="Index">Главная</a>
                        <a class="nav-link text-white" asp-controller="Halls" asp-action="Index">Залы</a>
                        <a class="nav-link text-white" asp-controller="Exhibits" asp-action="Index">Экспонаты</a>
                        <a class="nav-link text-white" asp-controller="Home" asp-action="About">О нас</a>
                        <a class="nav-link text-white" asp-controller="Home" asp-action="Contacts">Контакты</a>
                    </div>

               
                    <div class="search-wrapper">
                        <input class="search-input" type="search" name="q" placeholder="Поиск...">
                        <img src="/images/lupa.png" alt="Лупа" class="search-icon-inside">
                    </div>
                </div>
            </div>
        </nav>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer class="main-footer">
        <div class="footer-container">
            <div class="footer-grid">
             
                <div class="footer-block">
                    <a href="#" class="footer-logo">
                        <img src="/images/logo3.png" alt="Лого" style="height: 50px;">
                    </a>
                    <p class="footer-text">
                        Виртуальный музей — погружение в мир искусства и культуры.
                    </p>
                    <div class="footer-social">
                         @* господи че то там на странице с картинками написано не заюудьте авторство указать *@
                        <a href="#"><img src="/images/vk.png" alt="запрещенно РФ"></a>
                        <a href="#"><img src="/images/tg.png" alt="запрещенно РФ"></a>
                        <a href="#"><img src="/images/watcap.png" alt="запрещенно РФ"></a>
                    </div>
                </div>

             
                <div class="footer-block">
                    <h4>Навигация</h4>
                    @* пока не создала контроллеры и методы, чтоб страницы работали. Работаю пока над видом страницы*@
                    <a asp-controller="Home" asp-action="Index">Главная</a>
                    <a asp-controller="Halls" asp-action="Index">Залы</a>
                    <a asp-controller="Exhibits" asp-action="Index">Экспонаты</a>
                    <a asp-controller="Home" asp-action="About">О нас</a>
                    <a asp-controller="Home" asp-action="Contacts">Контакты</a>
                </div>

            
                <div class="footer-block">
                    <h4>Режим работы</h4>
                    <p>Пн-Пт: 10:00 - 19:00</p>
                    <p>Сб-Вс: 11:00 - 18:00</p>
                    <p>Выходной: еври дей мы ленивые</p>
                </div>
            </div>

           
            <div class="footer-copyright-line"></div>

          
            <div class="footer-bottom-row">
                <div class="footer-copyright">
                    © 2026 Все права защищены.
                </div>
                <div class="footer-credits">
                    Сделано в студии самой лучшей
                </div>
            </div>

           
            <a href="#" class="back-to-top">В НАЧАЛО</a>
        </div>
    </footer>
   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
